.custom-table {
	text-align : center;
	font-size : 16px;
	width : 800px;
	margin : auto;
}
#MyUsrInfo-tag {
	padding : 30px;
}
.th-15 {
	color : grey;
	width : 15%;
}
@media (min-width : 768px) and (max-width : 991px)
{
	.custom-table {
		width : 600px;
		font-size : 13px;
		
	}
}

@media (max-width : 767px)
{
	.custom-table {
		width : 500px;
		font-size : 11px;
	}
}