#content-box {
	width : 80%;
	margin : auto;
	height : 400px;
	border : 1px solid black;
}
.type01 {
	width : 80%;
    height: 10%;
}
#file-list {
	margin-left: 10%;
    border: 1px solid black;
    width: 80%;
}