.jb-center {
	width : 80%;
	display : inline;
}
.type01 {
	width : 80%;
}
#atclInfoWrite {
	float: right;
    margin-right: 10%;
    margin-bottom: 10%;
    margin-top: 15px;
}
.pagination {
	    margin-left: 10%;
}
.process {
	margin-left: 10%;
    margin-top: 3%;
}