
table{
	width: 60%;
 	height: 50%;
 	margin: auto;
 	text-align: center;
 	cellspacing=1;
}  

.login-button{
  width: 500px;
  height: 100px;
  position: fixed;
  right: 0;
  margin-top: 13px;
  margin-right: -300px;
  z-index: 1000;
  padding: 100;
  cursor: pointer;
  background: transparent;
  border: none;
}

.lsycss{
	width: 100%;
	margin: auto;
	display: inline;
}  

table.type01 {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
table.type01 thead th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
    background: #e7708d;
    margin: 20px 10px;
}
table.type01 tbody th {
    width: 150px;
    padding: 10px;
}
table.type01 td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
}
table.type01 .even {
    background: #fdf3f5;
}