@CHARSET "EUC-KR";
body {
font-family: Arial;
background: url('../../images/base/bg.jpg') no-repeat center center scroll;
\
}

.container{

	background-color: rgba( 255, 255, 255, 0.8 );
	

}

