ul, li {
	 list-style:none;
}
.tx-toolbar .tx-bar-left {
    margin: 0 3px 0 -40px;
}
.tx-menu-list-item
{
	margin-left :-35px;
}
#tx_toolbar_basic {
	margin : auto;
}
#editor_box {
	margin : auto;
	height : 400px;
	border : 1px solid black;
}
#editor-tag {
	margin-bottom : 50px;
}
#subject-tag {
	margin : auto;
	margin-top : 20px;
	margin-bottom : 20px;
}
#file-upload-tag {
	margin : auto;
	margin-top : 20px;
	margin-bottom : 20px;
}