.jb-center {
	width : 80%;
	display : inline;
}
#atclInfoWrite {
	float: right;
    margin-right: 10%;
    margin-bottom: 10%;
    margin-top: 15px;
}
.pagination {
	    margin-left: 10%;
}
.process {
	margin-left: 10%;
    margin-top: 3%;
}
.tb-sbjt {
	width: 55%;
}
.tb-id {
	width: 15%;
}
.tb-reg-date {
	width: 15%;
}
.tb-typ {
	width: 15%;
}